	<div ng-controller="ControllerProducto">
		<input type="text" placeholder="nombre producto" ng-model="nuevoProducto">
		<input type="text" placeholder="categoria" ng-model="categoria">
		<input type="file" id="fileToUpload" ngf-select="onFileSelect($file)">
		<button ng-click="addProducto();">subir producto</button>
		<br><br>
		<h3>ESTO NO EDITA NI BORRA NA</h3>
		<input type="text" placeholder="editar producto" ng-model="editar">
		<input type="file" id="fileToUploadEdit" ngf-select="onFileSelectEdit($file)">
		<button ng-click="editProducto();">editar producto</button>
		<br><br>
		<input type="text" placeholder="borrar producto" ng-model="borrar">
		<button ng-click="deleteProducto();">delete producto</button>
	</div>
	<div ng-controller="AsignarProducto">
		<input type="text" placeholder="nombre producto" ng-model="asigProducto">
		<input type="text" placeholder="DNI usuario" ng-model="asigUsuario">
		<button ng-click="asignarProducto();">Asignar producto</button>
	</div>
	<div ng-controller="ControllerTicket">
		<button ng-click="generarTicket();">Generar Ticket</button>
		<input type="text" placeholder="IDticket" ng-model="ticket">
		<button ng-click="descargarTicket();">Descargar ticket</button>
	</div>
