<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="../static/ng-file-upload-bower-12.2.13/ng-file-upload-shim.min.js"></script>
<script src="../static/ng-file-upload-bower-12.2.13/ng-file-upload.min.js"></script>

<body ng-app="myApp">
	<div ng-controller="myCtrl" ng-init = pruebas()>	
	<div class="container banner-container">
			<nav class="navbar navbar-default" ng-init="navbarCollapsed=true">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" ng-click="navbarCollapsed = !navbarCollapsed" aria-expanded="false" aria-controls="navbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span> 
							<span class="icon-bar"></span>
						</button>
						<span class="navbar-brand">Cliente de pruebas</span>
					</div>
					<div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
						<ul class="nav navbar-nav">
							<li><a href ="angular.html">Inicio</a></li>
							<li><a href ="usuario.html">Usuario</a></li>
							<li><a href ="pulsera.html">Pulsera</a></li>
							<li><a href ="producto.html">Producto</a></li>
							<li><a href ="categoria.html">Categoria</a></li>
							<li><a href ="estancia.html">Estancia</a></li>
							<li><a href ="rol.html">Rol</a></li>
							<li><a href ="login.html">Login</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<h1>Pulseras</h1>
			<div class="panel-body">
				<button ng-click="addPulsera()" class="btn btn-default btn-xs" title="Detalle">Nueva pulsera
					<span class="glyphicon glyphicon-new"></span>
				</button>
				<div class="table-responsive">
					<table Class="table table-striped table-bordered table-hover">
						<thead>
							<tr>				
								<th class="text-center column80">Acciones</th>
								<th class="text-center">Id</th>
								<th class="text-center">Usuario</th>
								<th class="text-center">Estado pulsera</th>				
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="pulseras in respuestaPulseras.data">
								<td>
									<button ng-click="" class="btn btn-default btn-xs" title="Editar" >
										<span class="glyphicon glyphicon-pencil"></span>
									</button>
									<button ng-click="deletePulsera(pulseras.id)" class="btn btn-default btn-xs confirmation-modal" title="Borrar">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
								<td>{{pulseras.id}}</td>
								<td>{{pulseras.usuario}}</td>
								<td>{{pulseras.estado_pulsera}}</td>
							</tr>
						</tbody>
					</table> 
				</div>
			</div>
		

<div class="container">
	<form>
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="panel-title">Modificacion Pulsera</span> 
			</div>
			<div class="panel-body">
				<div class="form-group">
						<label class="control-label">ID</label>
						<input type="text" ng-model="idPulsera" />
						
						<label class="control-label">Usuario</label>
						<input type="text" name="usuarioPulsera" ng-model="usuarioPulsera" />
						
						<label class="control-label">Estado pulsera</label>
						<select ng-model="estado_pulsera" class="form-control"
							ng-options="usuarios.id as usuarios.id for usuarios in respuestaEstado.data">
							<option></option> 
						</select>
				</div>
				<div class="pull-right">
					<button type="button" ng-click="editPulsera()">
						<span class="glyphicon glyphicon-ok-sign margin" />Guardar
					</button>
				</div>
			</div>
		</div>
	</form>
</div>

<script src="../static/js/script.js"></script>
</body>
</html>
