.color{
    color: white;
    background: #2a3f54;
}

.error{
    visibility: hidden;
}

.boton {
    float: right;
    margin-top: 20px;
}

#crearbtn{
    margin-top: -1.5em;
    background: #2A3F54;
    font-size: 13px;
}

#crearmodal{
    background: #2A3F54;
}

#editarmodal{
    background: #2A3F54;
}

#buscarbtn{
    margin-top: -1.5em;
    background: #2A3F54;
    font-size: 13px;
}

tr{
    text-align: center;
}

#aceptarbtn{
    background: #2A3F54;
    margin-top: 0.75em;
}

select {
    width: 8.5em;
    height: 2.5em;
    margin-left: 0.25em;
}


.pagination {
    display: inline-block;
    float: right;
}

.pagination button.arrows {
    background-color: #2a3f54 ;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 4px;
}

.pagination button.arrows.active {
    color: white;
    border-radius: 5px;
}

.pagination button.arrows:hover:not(.active) {
    background-color: #73879C ;
    border-radius: 5px;
}