<ion-content padding style="text-align: center; margin-top: 30%">
  <ion-thumbnail item-center>
    <img src="img/icono.png" style="margin-left: 35%; margin-bottom: 1em; width: 30%; height: 30%;">
  </ion-thumbnail>
  <h2>¿Olvidaste tu contraseña?</h2>
   <p>Introduce tu email y te enviaremos la información necesaria para recuperar el acceso a tu cuenta</p>
  
  <form [formGroup]="formRestorePass" (ngSubmit)="RestorePass()">
    <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="formRestorePass.controls.email.dirty && !formRestorePass.controls.email.valid">
        <p *ngIf="formRestorePass.controls.email.errors.required">
          Este campo es requerido.
        </p>
        <p *ngIf="formRestorePass.controls.email.errors.minlength">
          No es un formato de Email válido
        </p>
      </ion-item>
   <button style="margin-top: 2em; margin-left: 10%" ion-button type="submit" [disabled]="!formRestorePass.valid">Eviar</button>
   <button style="margin-top: 2em;" ion-button type="button" (click)="cancelar()">Cancelar</button>
    </form>
    
</ion-content>