<div ng-controller="PulseraController" ng-init="getPulseras()">	
	<h1>Pulseras</h1>
		<div class="panel-body">
			<div class="table-responsive">
				<table Class="table table-striped table-bordered table-hover">
					<thead>
						<tr>				
							<th class="text-center column80">Acciones</th>
							<th class="text-center">Id</th>
							<th class="text-center">Usuario</th>
							<th class="text-center">Estado pulsera</th>				
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="pulseras in respuestaPulseras.data">
							<td>
								<button ng-click="deletePulsera(pulseras.id)" class="btn btn-default btn-xs confirmation-modal" title="Borrar">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
							</td>
							<td>{{pulseras.id}}</td>
							<td>{{pulseras.usuario}}</td>
							<td>{{pulseras.estado_pulsera}}</td>
						</tr>
					</tbody>
				</table> 
			</div>
		</div>
	<div class="container">
		<form>
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="panel-title">Modificacion Pulsera</span> 
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="control-label">ID</label>
						<input type="text" ng-model="idPulsera" />
						<label class="control-label">Usuario</label>
						<input type="text" name="usuarioPulsera" ng-model="usuarioPulsera" />
						<label class="control-label">Estado pulsera</label>
						<select ng-model="estado_pulsera" class="form-control"
							ng-options="item.id for item in estados.data">
							<option></option> 
						</select>
					</div>
					<div class="pull-right">
						<button type="button" ng-click="editPulsera()">
							<span class="glyphicon glyphicon-ok-sign margin" />Guardar
						</button>
						<button ng-click="addPulsera()" class="btn btn-default btn-xs" title="Detalle">Nueva pulsera
							<span class="glyphicon glyphicon-new"></span>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>