<div ng-controller="RolController" ng-init = "getRol()">	
	<h1>Roles</h1>
	<div class="panel-body">
		<div class="table-responsive">
			<table Class="table table-striped table-bordered table-hover">
				<thead>
					<tr>				
						<th class="text-center column80">Acciones</th>
						<th class="text-center">Id</th>
						<th class="text-center">Empleado</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="rol in respuestaRol.data">
						<td>
							<button ng-click="deleteRol(rol.id)" class="btn btn-default btn-xs confirmation-modal" title="Borrar">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</td>
						<td>{{rol.id}}</td>
						<td>{{rol.empleado}}</td>
					</tr>
				</tbody>
			</table> 
		</div>
	</div>
	<div class="container">
		<form>
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="panel-title">Modificacion Rol</span> 
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="control-label">ID</label>
						<input type="text" ng-model="idRol" />
						
						<label class="control-label">Empleado</label>
						<input type="text" ng-model="empleadoRol" />
						
					</div>
					<div class="pull-right">
						<button type="button" ng-click="editRol()">
							<span class="glyphicon glyphicon-ok-sign margin" />Guardar
						</button>
						<button ng-click="addRol()" class="btn btn-default btn-xs" title="Detalle">Nuevo rol
							<span class="glyphicon glyphicon-new"></span>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="container">
		<form>
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="panel-title">Listar permisos de un rol</span> 
				</div>
				<div class="panel-body">
					<label class="control-label">Rol</label>
					<input type="text" ng-model="rol" />
					<button type="button" ng-click="getPermiso()">
						<span class="glyphicon glyphicon-ok-sign margin" />Listar permisos
					</button>
				</div>
				<div class="table-responsive">
					<table Class="table table-striped table-bordered table-hover">
						<thead>
							<tr>		
								<th class="text-center">Permiso</th>
								<th class="text-center">Descripcion</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="permiso in respuestaPermisos.data">
								<td>{{permiso.permiso}}</td>
								<td>{{permiso.empleado}}</td>
							</tr>
						</tbody>
					</table> 
				</div>
			</div>
		</form>
	</div>
	<div class="container">
		<form>
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="panel-title">Asignar permisos a rol</span> 
				</div>
				<div class="panel-body">
					<label class="control-label">Rol</label>
					<input type="text" ng-model="rol" />
					<label class="control-label">Permiso</label>
					<input type="text" ng-model="permiso" />
					<button type="button" ng-click="addPermiso()">
						<span class="glyphicon glyphicon-ok-sign margin" />Añadir permiso
					</button>
					<button type="button" ng-click="deletePermiso()">
						<span class="glyphicon glyphicon-ok-sign margin" />Eliminar permiso
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

