<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<body ng-app="myApp">
	<div ng-controller="myCtrl">
				<button ng-click="addUsuario()">Nuevo usuario con dni random</button>
		
	
		<input type="text" placeholder="actualizar" ng-model="actualizar">
		<button ng-click="editUsuario()">Actualizar usuario</button>
		
		<input type="text" placeholder="borrar" ng-model="borrar">
		<button ng-click="deleteUsuario()">Borrar usuario</button>
		<pre>
		{{respuesta | json}}
		</pre>
	</div>
	
<script src="script.js"></script>
</body>
</html>
