page-home {
  background: url("../img/FONDO.jpg");  
.letras{font-size: 40px; text-align:center}
.icono{font-size:100px; text-align:center;}
.boton{height: 50%;  width: 50%;text-align:center;}
ion-content{background: url("../img/FONDO.jpg");background-size: cover;;background-repeat: no-repeat;}
.imagenes{text-align:center;margin-top:20%; }
.imagen{padding: 10px;}
}
