<!-- div class="container">
  <div class="jumbotron">
    <h1>KeyBand</h1>      
    <p>Bienvenido al panel de administración del sistema.</p>
  </div>
</div>
-->
<br>
<br>
<br>

<div class="dashboard_graph">
  <div class="row" id="superior">
          <div class="row tile_count">
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                
                <div class="count green"><i class="fa fa-users"></i> 325</div>
                <span class="count_top"> Total Usuarios</span>

              </div>
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              
                <div class="count"><i class="fa fa-clock-o"></i> 58s</div>
                <span class="count_top"> Tiempo de media </span>

              </div>
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">

                <div class="count green"><i class="fa fa-user"></i> 155</div>
                <span class="count_top"> Total Hombres</span>

              </div>
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">

                <div class="count"><i class="fa fa-female"></i> 160</div>
                <span class="count_top">Total Mujeres</span>

              </div>
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">

                <div class="count green"><i class="glyphicon glyphicon-sort"></i> 755</div>
                <span class="count_top"> Total Conexiones</span>

              </div>
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                
                <div class="count"><i class="fa fa-globe"></i> 8</div>
                <span class="count_top"> Nacionalidades</span>
                
              </div>
            </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="dashboard_graph">
      <div class="row x_title">
        <div class="col-md-6">
          <h3>Nuevos clientes registrados <small>Año 2017</small></h3>
        </div>
        </div>
          <div style="display: block;">
            <canvas baseChart width="400" height="100"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
            ></canvas>
        </div>
    </div>
  </div>
</div>

<h2></h2>

<div class="row">
  <div class="col-md-6">
    <div class="dashboard_graph">
      <div class="x_title">
           <h3>Visitantes <small>Por Comunidad Autónoma</small></h3>
      </div>
          <div style="display: block">
            <canvas baseChart
                    [data]="polarAreaChartData"
                    [labels]="polarAreaChartLabels"
                    [legend]="polarAreaLegend"
                    [chartType]="polarAreaChartType"
                    [colors]="coloresRuleta"
            ></canvas>
          </div>
      </div>
  </div>

  <div class="col-md-6">
    <div class="dashboard_graph">
      <div class="x_title">
            <h3>Habitaciones ocupadas <small>Últimos 7 años</small></h3>
        </div>
          <div style="display: block">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"
                  [colors]="coloresClientes"
          ></canvas>
        </div>
      </div>
  </div>
</div>


<!--
<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Categorías <small>Por demanda</small></h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div style="display: block">
          <canvas baseChart
                  [datasets]="radarChartData"
                  [labels]="radarChartLabels"
                  [chartType]="radarChartType"
          ></canvas>
        </div>
    </div>
  </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Productos <small>Más vendidos</small></h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
               <div style="display: block">
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
        ></canvas>
               </div>
    </div>
  </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>TPV <small>Comparativa</small></h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
          <div style="display: block">
            <canvas baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"
            ></canvas>
          </div>
    </div>
  </div>
</div>

-->


 <!-- <div class="col-md-6" style="padding: 30px">
    <p>USA Vector Map</p>
    <div id="usa_map" style="height:400px !important;"></div>
  </div>

  -->


  