<div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a routerLink='/inicio' class="site_title"><i class="fa fa-home"></i> <span>Admin. KeyBand</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="./images/KeybandApp.png" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Bienvenido,</span>
                <h2>Administrador</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-group"></i> Usuarios <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a routerLink="/cliente" routerLinkActive="active">Clientes</a></li>
                      <li><a routerLink="/empleado">Empleados</a></li>
                    </ul>
                  </li>
                  <li><a routerLink="/categoria"><i class="fa fa-sitemap"></i> Categorias de Producto </a></li>
                  <li><a routerLink="/producto"><i class="fa fa-beer"></i> Productos </a></li>
                  <li><a><i class="fa fa-building"></i> Estancias <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a routerLink="/habitacion">Habitaciones</a></li>
                      <li><a routerLink="/estancia">Publicas</a></li>
                    </ul>
                  </li>
                   <li><a><i class="fa fa-bar-chart-o"></i> Métricas <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a routerLink="/ocupacion">Ocupación</a></li>
                      <li><a routerLink="/contabilidad">Contabilidad</a></li>
                      <li><a routerLink="/mapa">Mapa de Calor</a></li>
                    </ul>
                  </li>
                  <li><a routerLink="/rol"><i class="fa fa-cubes"></i> Roles </a></li>
                  <li><a routerLink="/pulsera"><i class="fa fa-circle-thin"></i> Pulseras </a></li>
                  <li><a routerLink="/promocion"><i class="fa fa-bullhorn"></i> Promociones </a></li>
          
                </ul>
              </div>
            </div>
          
            <!-- /menu footer buttons -->
          </div>
        

          
        </div>
        <!-- top navigation -->
        <div class="top_nav">
          <app-profile-bar></app-profile-bar>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">

         <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                     <router-outlet></router-outlet>
            </div>

         </div>
          <br />

         <div class="row">


           <div class="col-md-4 col-sm-4 col-xs-12">
          
            </div>

           <div class="col-md-4 col-sm-4 col-xs-12">
          
            </div>


           <div class="col-md-4 col-sm-4 col-xs-12">
      
            </div>

         </div>


         <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
        
            </div>


           <div class="col-md-8 col-sm-8 col-xs-12">



             <div class="row">

               <div class="col-md-12 col-sm-12 col-xs-12">
                
                </div>

             </div>
              <div class="row">


               <!-- Start to do list -->
                <div class="col-md-6 col-sm-6 col-xs-12">
          
                </div>
                <!-- End to do list -->
                
                <!-- start of weather widget -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                

               </div>
                <!-- end of weather widget -->
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

       <!-- footer content -->
        <footer>
          <div class="pull-right">
            Panel de administración proporcionado por <a href="https://keyband11th.tk">KeyBand</a>
          </div>
          <div class="clearfix"></div>
        </footer>