<div class="panel-body">
		
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover">
				<thead class = "color">
					<tr>
						<th class="text-center">Acciones</th>				
						<th class="text-center">Nombre</th>
						<th class="text-center">Empleado</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let Rol of roles | keys">
						<td>
              <a href="#" data-toggle="modal" data-target="#borrar">
							<button (click)="rellenarBorrar(Rol.value.id)" class="btn btn-default btn-xs confirmation-modal" title="Borrar">
										<span class="glyphicon glyphicon-remove"></span>
							</button>
              </a>
							<a href="#" data-toggle="modal" data-target="#registro">
								<button (click)="getRol(Rol.value.id)" class="btn btn-default btn-xs confirmation-modal" title="Detalle">
									<span class="glyphicon glyphicon-edit"></span>
								</button>
							</a>
						</td>
						<td>{{Rol.value.id}}</td>
						<td>{{Rol.value.empleado}}</td>
					</tr>
				</tbody>
			</table> 
		</div>
	</div>
<button type="button" class="btn btn-primary" (click)="redirect()">Crear Rol</button>

	<!-- Modal BORRAR -->
              <div class="modal fade" id="borrar" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Borrar estancia</h4>
                    </div>
                    <div class="modal-body">
                        <form name="contact_form" role="form" class="form-horizontal" #loginForm="ngForm">
                        <fieldset>
                          <div class="modal-body">
                            <p>¿Estás seguro de que quieres borrar {{rol}} de la base de datos?</p>
                          </div>
                        <!-- Button -->
                        <div class="form-group">
                          <label class="col-md-8 control-label"></label>
                          <div class="modal-footer">
                            <br>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary" (click)="borrarRol(borrar.id)" data-dismiss="modal">Aceptar</button>
                          </div>
                        </div>
                        </fieldset>
                        </form>        
                    </div>
                  </div>            
                </div>
              </div>