<!-- Poner formulario para el cambio de contraseña -->
<ion-content padding style="text-align: center;">
  <ion-buttons end>
      <button clear ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  <ion-thumbnail item-center style="margin-top: 15%">
    <img src="img/icono.png" style="margin-left: 35%; margin-bottom: 1em; width: 30%; height: 30%;">
  </ion-thumbnail>
  
  <form [formGroup]="formCambioPass" (ngSubmit)="cambioPass()">
    <ion-item>
        <ion-label>Contraseña actual</ion-label>
        <ion-input type="password" formControlName="passwordActual"></ion-input>
    </ion-item>
    <ion-item *ngIf="formCambioPass.controls.passwordActual.dirty && !formCambioPass.controls.passwordActual.valid">
        <p *ngIf="formCambioPass.controls.passwordActual.errors.required">
          Este campo es requerido.
        </p>
        <p *ngIf="formCambioPass.controls.passwordActual.errors.minlength">
          No es un formato de Email válido
        </p>
      </ion-item>
      <ion-item>
        <ion-label>Contraseña nueva</ion-label>
        <ion-input type="password" formControlName="passwordNueva"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Repetir contraseña nueva</ion-label>
        <ion-input type="password" formControlName="passwordNueva2"></ion-input>
    </ion-item>
   <button block  style="margin-top: 2em; width: 80%; margin-left: 10%" ion-button type="submit" [disabled]="!formCambioPass.valid">Eviar</button>
    </form>
    <button ion-button clear (click)="forgetPass()">¿Olvidaste tu contraseña?</button>
    
</ion-content>




<!--ion-content padding>
  <form [formGroup]="formLogin" (ngSubmit)="doLogin()">
      <ion-item>
        <ion-label>DNI</ion-label>
        <ion-input type="text" formControlName="DNI"></ion-input>
        
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-textarea formControlName="password"></ion-textarea>
      </ion-item>
      <ion-item *ngIf="formLogin.controls.password.dirty && !formLogin.controls.password.valid">
        <p *ngIf="formLogin.controls.password.errors.required">
          Este campo es requerido.
        </p>
        <p *ngIf="formLogin.controls.password.errors.minlength">
          Debe ser mayor a 4 c
        </p>
        <p *ngIf="formLogin.controls.password.errors.maxlength">
          Debe ser menor a 8 c
        </p>
        <p *ngIf="formLogin.controls.password.errors.pattern">
          No acepto numeros
        </p>
      </ion-item>
      <button block  style="margin-top: 2em; width: 80%; margin-left: 10%" ion-button type="submit" [disabled]="!formLogin.valid">Submit</button>
    </form>
    <button ion-button clear (click)="forgetPass()">¿Olvidaste tu contraseña?</button>
  <ion-content-->
