.color{
    color: white;
    background: #2a3f54;
}

.error{
       visibility: hidden;
}


.boton {
    float: right;
    margin-top: 20px;
}

#crearbtn{
    margin-top: -1.5em;
    background: #2A3F54;
    font-size: 13px;
}

#btncrear{
    background: #2A3F54;
}

#btneditar{
    background: #2A3F54;
}

#buscarbtn{
    margin-top: -1.5em;
    background: #2A3F54;
    font-size: 13px;
}

tr{
    text-align: center;
}

#aceptarbtn{
    background: #2A3F54;
    margin-top: 0.75em;
}