.checkbox {
    margin-right: 15px;
}

.focusedInput {
    padding: 7px 10px;
    margin: 8px 0;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.focusedInput:hover{
    background-color: #EDEDED; 
}

.focusedInput:focus {
    border-color: #73879C;
}

.focusedInputMenu {
    display: inline;
}

.buscadorProducto {
    margin-bottom: 1em;
}

.color{
    color: white;
    background: #2a3f54;
}

tr{
    text-align: center;
}

#confirmar, #confirmar2 {
    background-color:#2A3F54;
    float: right;
}

#editar .control-label {
    margin-top: 1em;
}

#delete .form-group{
    position: relative;
    display: inline-block;
    margin-left: 25em;
}

#asignar .ye {
    position: relative;
    display: inline-block;
    margin-left: 25em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
#delete h5 {
    font-size: 12pt;
}

.labelAsig {
    margin-bottom: 1em;
}

.form-control:hover {
    background-color:#E6EDF5;
}

#row {
    padding-top: 2em;
}

.x_title {
    margin-left: 1.3em;
    margin-right: 1.3em;
}

#confirmar, #confirmar2 {
    background-color:#2A3F54;
    float: right;
}

.buscadorProducto {
    margin-bottom: 1em;
}

.modal-body {
    padding-left: 30px;
    padding-right: 30px;
}

#editar .modal-body {
    padding-left: 30px;
    padding-right: 30px;
}

#editar #responsive-form{
	max-width:30em; /*-- change this to get your desired form width --*/;
	margin:0 auto;
    width:100%;
}
.form-row{
	width: 100%;
}
.form-rowV{
    float:left;
	width: 20%;
}
.form-row1{
    width:90%;
}
.column{
	float: right;
	position: relative;
	padding: 1.5rem;
	-webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
}
.column-4 {
    width:25%;
}
.column-3{
	width:39%;
}
.column-2{
	width:30%;
}
.column-half{
    width: 50%;
}

#editar .modal-dialog {
    width: 60em;
}
#editar .modal-content {
    margin-right: 10em;
    margin-left: -20em;
}
#editar .estaancia {
    margin-right: 15em;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

#imgInpEd, #imgInp2Ed {
    display:none;
}

#blahEd, #blah2Ed {
    cursor:pointer;
    border-color: #607284;
    border-style: groove;
    border-radius: 10px;
    border-width: 5px;
}

.imageLabel {
    padding-left: 2.5em;
    width: 100%;
}

label {
    font-weight: 500;
}

.form-rowV .column-half {
    margin-bottom: 1em;
}

.logoKeyband {
    position: relative;
    float:left;
}
.modal-title {
 padding-top: .3em;
}

@media only screen and (min-width: 48em) { 
	.column-half{
		width: 50%;
	}
}